<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="buildnlive.com.arch">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name="buildnlive.com.arch.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_buildnlive_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_buildnlive_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="buildnlive.com.arch.activities.HomeActivity" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="buildnlive.com.arch.activities.MarkAttendance"  android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name="buildnlive.com.arch.activities.AddItem"  android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name="buildnlive.com.arch.activities.IssuedItems"  android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name="buildnlive.com.arch.activities.WorkProgress"  android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name="buildnlive.com.arch.activities.DailyWorkProgressActivities"  android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name="buildnlive.com.arch.activities.PurchaseOrder"  android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name="buildnlive.com.arch.activities.NotificationActivity" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name="buildnlive.com.arch.activities.LocalPurchase" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name="buildnlive.com.arch.activities.ResetActivity" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name=".activities.PaymentActivity" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name=".activities.RegisterActivity" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name=".activities.CreateItem" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name=".activities.ManageActivity" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name=".activities.ManageEmployee" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name=".activities.ImageView" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name=".activities.CreatePurchaseOrder" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name=".activities.CreateWorkActivity" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name=".activities.ManageVendor" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name=".activities.WorkData" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>


        <activity
            android:name="buildnlive.com.arch.activities.MainActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>
        <activity android:name="buildnlive.com.arch.activities.PreviewImage" android:windowSoftInputMode="stateHidden"  android:screenOrientation="portrait"/>
        <activity android:name="buildnlive.com.arch.activities.LoginActivity"  android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name="buildnlive.com.arch.activities.PurchaseOrderListing"  android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name="buildnlive.com.arch.activities.Main2Activity"></activity>
        <activity android:name=".activities.LabourActivity" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name=".activities.ManageLabour" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name=".activities.ManageLabourReport" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
    </application>

</manifest>